In [4]:
#l·ªçc d·ªØ li·ªáu
import pandas as pd
import numpy as np
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0)
data.info()
#shop_location v√† rating_star thi·∫øu d·ªØ li·ªáu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

In [5]:
data
#h√†ng 745 c√≥ k√Ω t·ª± ƒë·∫∑c bi·ªát

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [7]:
#l·ªçc l·∫•y c·ªôt name
data.loc[:,"name"]

0              hello.may.ph
1           love.women.shop
2             R&O RedOrange
3               patriciacai
4      Little Market Manila
               ...
741       Yacent_thrift_Clo
742             Akistore.ph
743            Yzanice Shop
744          Clairecvc Shop
745             angelcity.üíã
Name: name, Length: 746, dtype: object

In [8]:
#l·ªçc l·∫•y c·ªôt name v√† shop_location
data.loc[:,["name",'shop_location']]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745           angelcity.üíã     Pasay City,Metro Manila

[746 rows x 2 columns]

In [9]:
#l·ªçc t·ª´ name t·ªõi shop_location
data.loc[:,'name':'shop_location']

,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location
0,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN
1,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila"
2,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila"
3,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila"
4,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila"
...,...,...,...,...,...,...,...,...,...
741,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay"
742,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN
743,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN
744,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila"
745,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila"

In [14]:
#l·ªçc l·∫•y h√†ng c√≥ index = 222
data.loc[222,:]
#data.iloc[222data.loc[[222,444,666],:]
]

pk_shop               20210621417317962
date_collected               2021-06-21
shopid                        417317962
name                         MEIMEITALL
join_month                        April
join_day                              5
join_year                          2021
item_count                          477
follower_count                     1430
response_time                  09:20:04
response_rate                        96
shop_location                       NaN
rating_bad                            7
rating_good                         471
rating_normal                        19
rating_star                        4.82
is_shopee_verified                    1
is_official_shop                      0
Name: 222, dtype: object

In [13]:
#data.loc[[222,444,666],:]
data.iloc[[222,444,666]]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
222,20210621417317962,2021-06-21,417317962,MEIMEITALL,April,5,2021,477,1430,09:20:04,96,NaN,7,471,19,4.82,1,0
444,20210628401079546,2021-06-28,401079546,Huidong,March,11,2021,22,533,09:02:00,91,"Sampaloc,Metro Manila",0,177,8,4.79,0,0
666,2021070647114599,2021-07-06,47114599,Simplediva,December,9,2017,79,34690,09:52:02,91,"Valenzuela City,Metro Manila",797,64748,2156,4.82,1,0

In [15]:
#l·ªçc index t·ª´ 100 ƒë·∫øn 200
data.loc[100:200,:]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
100,2021061339587061,2021-06-13,39587061,wolfzone online shop,October,20,2017,526,32253,11:21:13,63,"Bacoor,Cavite",1932,43963,3345,4.61,0,0
101,20210613315447242,2021-06-13,315447242,liwen.ph,September,28,2020,219,749,08:13:15,93,NaN,32,283,29,4.38,0,0
102,20210613266644184,2021-06-13,266644184,JUNEtime Shop,May,26,2020,931,32425,09:18:17,99,NaN,631,15205,1311,4.60,1,0
103,20210613302250255,2021-06-13,302250255,Zero Tide Hanbok,August,28,2020,747,11616,08:46:11,96,NaN,128,3757,314,4.63,0,0
104,2021061351801232,2021-06-13,51801232,DriFIT,January,10,2018,62,15443,10:43:03,95,"Valenzuela City,Metro Manila",278,22580,796,4.82,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,20210621299396535,2021-06-21,299396535,Pretty Comy Women Fashion,August,21,2020,564,67148,10:41:17,88,NaN,88,13851,343,4.88,0,0
197,2021062112280641,2021-06-21,12280641,R Squared PH,November,12,2016,97,62492,11:45:37,69,"Taytay,Rizal",310,30950,1080,4.84,1,0
198,2021062125587666,2021-06-21,25587666,Kily.Ph Online,June,15,2017,326,1172325,12:02:33,73,"Taytay,Rizal",16183,877459,40603,4.77,1,0
199,2021062136365595,2021-06-21,36365595,korean terno dress,September,27,2017,369,48268,10:17:14,63,"Binondo,Metro Manila",2359,33645,3738,4.46,0,0
200,20210621276895504,2021-06-21,276895504,MC.com,June,22,2020,264,26942,10:51:12,29,"Valenzuela City,Metro Manila",1258,23096,2342,4.53,0,0

In [17]:
#l·ªçc t·ª´ 300 ƒë·∫øn 400 ch·ªâ ch·ª©a c·ªôt rating_bad v√† rating_star
data.loc[300:400,'rating_bad':'rating_star']

     rating_bad  rating_good  rating_normal  rating_star
300           8          449             31         4.72
301         130         3831            319         4.63
302        2415        69278           4317         4.67
303          98         1586            139         4.53
304        5123       659093          14751         4.88
..          ...          ...            ...          ...
396          96         3588            241         4.70
397          27         8131            154         4.91
398          11          701             29         4.82
399          29          890             74         4.65
400        3332        75478           6467         4.58

[101 rows x 4 columns]

In [20]:
#l·ªçc b·∫±ng filter
#l·ªçc l·∫•y c·ªôt df.filter([t√™n c·ªôt])
#l·ªçc d√≤ng df.filter([ch·ªâ s·ªë h√†ng], axis = 0)
#m·∫∑c ƒë·ªãnh c·ªôt, axis = 1
#l·ªçc l·∫•y c·ªôt name
data.filter(["name"])

                     name
0            hello.may.ph
1         love.women.shop
2           R&O RedOrange
3             patriciacai
4    Little Market Manila
..                    ...
741     Yacent_thrift_Clo
742           Akistore.ph
743          Yzanice Shop
744        Clairecvc Shop
745           angelcity.üíã

[746 rows x 1 columns]

In [21]:
data.filter(["name"])[743:]

               name
743    Yzanice Shop
744  Clairecvc Shop
745     angelcity.üíã

In [22]:
data.filter(['name', 'shop_location'])

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745           angelcity.üíã     Pasay City,Metro Manila

[746 rows x 2 columns]

In [24]:
data.filter(['name':'shop_location'])
#ko s·ª≠ d·ª•ng ƒë∆∞·ª£c method n√†y, ph·∫£i li·ªát k√™ c√°c d√≤ng c·∫ßn filter
#data.filter(['name', 'join_month', 'join_day', 'join_year', 'item_count', 'follower_count', 'response_time', 'response_rate', 'shop_location', 'shop_location'])

SyntaxError: invalid syntax (1137598189.py, line 1)

In [25]:
#h√†ng
data.filter([222], axis = 0)

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
222,20210621417317962,2021-06-21,417317962,MEIMEITALL,April,5,2021,477,1430,09:20:04,96,NaN,7,471,19,4.82,1,0

In [26]:
data.filter([222,444,666], axis = 0)

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
222,20210621417317962,2021-06-21,417317962,MEIMEITALL,April,5,2021,477,1430,09:20:04,96,NaN,7,471,19,4.82,1,0
444,20210628401079546,2021-06-28,401079546,Huidong,March,11,2021,22,533,09:02:00,91,"Sampaloc,Metro Manila",0,177,8,4.79,0,0
666,2021070647114599,2021-07-06,47114599,Simplediva,December,9,2017,79,34690,09:52:02,91,"Valenzuela City,Metro Manila",797,64748,2156,4.82,1,0

In [27]:
data.filter([100:200], axis = 0)
#ko d√πng ƒëc, ph·∫£i li·ªát k√™ c√°c d√≤ng

SyntaxError: invalid syntax (1758658907.py, line 1)

In [28]:
data.filter(['rating_bad','rating_good','rating_normal','rating_star'])[300:401]
#ch·ªâ s·ªë d√≤ng cu·ªëi  + 1

     rating_bad  rating_good  rating_normal  rating_star
300           8          449             31         4.72
301         130         3831            319         4.63
302        2415        69278           4317         4.67
303          98         1586            139         4.53
304        5123       659093          14751         4.88
..          ...          ...            ...          ...
396          96         3588            241         4.70
397          27         8131            154         4.91
398          11          701             29         4.82
399          29          890             74         4.65
400        3332        75478           6467         4.58

[101 rows x 4 columns]

In [29]:
#l·ªçc d·ªØ li·ªáu c√≥ ƒëi·ªÅu ki·ªán
# l·ªçc theo ƒëi·ªÅu ki·ªán ƒë∆°n
data[data['join_month'] == 'June']

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
31,20210613277581138,2021-06-13,277581138,John see way's shop.ph,June,24,2020,426,3256,09:37:23,95,NaN,13,734,26,4.79,0,0
40,20210613276428558,2021-06-13,276428558,cottonandbuttons,June,20,2020,47,4650,10:58:45,47,"Taytay,Rizal",19,2832,95,4.85,0,0
46,20210613275875058,2021-06-13,275875058,small__tomato.ph,June,19,2020,495,81352,09:56:42,94,NaN,424,19152,1072,4.73,0,0
61,20210613274192652,2021-06-13,274192652,Kate's Corner,June,14,2020,54,2711,09:42:10,78,"Santo Tomas,Batangas",6,782,19,4.88,0,0
66,2021061374965889,2021-06-13,74965889,its.la.mode,June,17,2018,14,2665,09:30:18,58,"Cainta,Rizal",0,202,2,4.90,0,0
67,20210613273590933,2021-06-13,273590933,Korean. House,June,12,2020,619,3502,08:00:13,100,NaN,37,1265,89,4.68,0,0
68,20210613271800741,2021-06-13,271800741,1989minishop,June,7,2020,120,21583,12:23:35,62,"Pasay City,Metro Manila",278,19107,943,4.79,0,0
99,20210613273569988,2021-06-13,273569988,sy1688,June,12,2020,229,8734,11:20:07,17,"Paranaque City,Metro Manila",456,6662,666,4.50,0,0
105,20210613156756973,2021-06-13,156756973,huiluotuo.ph,June,20,2019,383,10123,11:14:21,80,NaN,322,6228,529,4.57,0,0
123,20210613276895504,2021-06-13,276895504,MC.com,June,22,2020,261,26457,10:33:07,34,"Pasay City,Metro Manila",1220,22394,2265,4.53,0,0
134,202106136381125,2021-06-13,6381125,somura.ph,June,3,2016,1490,253606,10:13:44,95,"Quezon City,Metro Manila",1702,200469,5498,4.86,0,0
143,20210613462140676,2021-06-13,462140676,YULINMM.ph,June,8,2021,109,48,08:29:42,100,NaN,0,0,0,NaN,0,0
150,2021061325811092,2021-06-13,25811092,angelcity.üíã,June,17,2017,249,826733,09:48:26,31,"Pasay City,Metro Manila",12714,663959,28901,4.77,0,0
159,2021061325717546,2021-06-13,25717546,Vivena,June,16,2017,712,188046,11:40:56,68,"Santa Cruz,Metro Manila",1995,214465,6286,4.85,0,0
176,2021062125717546,2021-06-21,25717546,Vivena,June,16,2017,714,189108,11:28:00,67,"Santa Cruz,Metro Manila",2026,218948,6399,4.85,0,0
198,2021062125587666,2021-06-21,25587666,Kily.Ph Online,June,15,2017,326,1172325,12:02:33,73,"Taytay,Rizal",16183,877459,40603,4.77,1,0
200,20210621276895504,2021-06-21,276895504,MC.com,June,22,2020,264,26942,10:51:12,29,"Valenzuela City,Metro Manila",1258,23096,2342,4.53,0,0
204,20210621276428558,2021-06-21,276428558,cottonandbuttons,June,20,2020,47,5138,11:04:43,41,"Taytay,Rizal",23,3045,99,4.85,0,0
214,20210621273094218,2021-06-21,273094218,xiaoyi.ph,June,11,2020,126,52192,08:34:25,99,NaN,127,15456,463,4.85,1,0
219,20210621155121457,2021-06-21,155121457,Aileen Fashion,June,13,2019,978,3868,10:13:50,80,"San Nicolas,Metro Manila",27,8058,154,4.91,0,0
238,20210621275875058,2021-06-21,275875058,small__tomato.ph,June,19,2020,2648,83086,10:00:39,95,NaN,429,19397,1081,4.74,0,0
262,20210621270376961,2021-06-21,270376961,Trendy Tops below 99,June,4,2020,11,2039,09:36:40,51,"Taytay,Rizal",6,882,25,4.87,0,0
278,20210621156756973,2021-06-21,156756973,huiluotuo.ph,June,20,2019,375,10236,11:20:27,82,NaN,333,6312,541,4.56,0,0
289,202106216928162,2021-06-21,6928162,BlusaAtbp (by Sasha),June,17,2016,211,32705,10:38:36,95,"Taytay,Rizal",53,38049,299,4.95,0,0
297,20210621277380946,2021-06-21,277380946,Men's Clothing Oolong Club,June,23,2020,465,9404,10:03:37,95,NaN,332,4506,469,4.47,0,0
341,20210621275072879,2021-06-21,275072879,PRLcloset,June,16,2020,64,7502,12:18:54,49,"Antipolo City,Rizal",33,3430,119,4.83,0,0
343,2021062125811092,2021-06-21,25811092,angelcity.üíã,June,17,2017,253,841621,09:46:46,29,"Pasay City,Metro Manila",13024,682209,29746,4.77,0,0
359,20210628468959708,2021-06-28,468959708,üíóTrendy girlüíó,June,17,2021,99,152,09:51:51,30,"Sampaloc,Metro Manila",0,96,0,5.00,0,0
382,20210628273094218,2021-06-28,273094218,xiaoyi.ph,June,11,2020,196,56827,08:28:20,94,NaN,132,16574,492,4.85,1,0
397,20210628155121457,2021-06-28,155121457,Aileen Fashion,June,13,2019,992,3898,10:11:05,80,"San Nicolas,Metro Manila",27,8131,154,4.91,0,0
416,20210628271800741,2021-06-28,271800741,1989minishop,June,7,2020,122,22977,12:24:28,61,"Pasay City,Metro Manila",291,20269,991,4.79,0,0
421,20210628273201142,2021-06-28,273201142,Women's blouse-Crop Top,June,11,2020,1451,30919,12:00:15,69,NaN,117,13294,442,4.84,0,0
466,2021062875150237,2021-06-28,75150237,ykmencollection,June,18,2018,69,1779,09:43:13,43,"Pasay City,Metro Manila",20,2397,63,4.86,0,0
486,20210628157053609,2021-06-28,157053609,love it shopping,June,21,2019,344,18604,11:43:38,71,"Santa Cruz,Metro Manila",476,28443,1341,4.77,0,0
488,20210628156756973,2021-06-28,156756973,huiluotuo.ph,June,20,2019,358,10322,11:21:07,77,NaN,338,6361,548,4.56,0,0
495,2021062825811092,2021-06-28,25811092,angelcity.üíã,June,17,2017,258,854216,09:52:57,32,"Pasay City,Metro Manila",13236,697397,30410,4.77,0,0
513,20210628275875058,2021-06-28,275875058,small__tomato.ph,June,19,2020,500,83892,10:04:59,97,NaN,433,19683,1098,4.74,0,0
536,20210628456337069,2021-06-28,456337069,Harajuku T-shirt,June,1,2021,58,126,11:59:08,48,"Quezon City,Metro Manila",6,82,6,4.51,0,0
543,20210706461815350,2021-07-06,461815350,DSKJAA.ph,June,8,2021,868,71,08:47:31,100,NaN,0,0,0,NaN,0,0
581,20210706273094218,2021-07-06,273094218,xiaoyi.ph,June,11,2020,197,60573,08:27:19,96,NaN,141,17498,508,4.86,1,0
584,20210706273201142,2021-07-06,273201142,Women's blouse-Crop Top,June,11,2020,1521,31680,11:49:11,74,NaN,117,13453,448,4.84,0,0
591,20210706462140676,2021-07-06,462140676,YULINMM.ph,June,8,2021,224,231,08:27:28,97,NaN,0,35,1,4.92,1,0
604,20210706155121457,2021-07-06,155121457,Aileen Fashion,June,13,2019,1013,3945,10:01:56,84,"San Nicolas,Metro Manila",29,8211,154,4.91,0,0
623,20210706467411881,2021-07-06,467411881,xinyuanmeifushi.ph,June,15,2021,129,280,10:04:28,85,NaN,0,4,0,5.00,0,0
663,20210706277380946,2021-07-06,277380946,Men's Clothing Oolong Club,June,23,2020,438,9911,10:03:31,96,NaN,347,4759,496,4.47,0,0
678,2021070675150237,2021-07-06,75150237,ykmencollection,June,18,2018,70,1797,10:03:52,49,"Pasay City,Metro Manila",21,2421,63,4.86,0,0
698,20210706154035407,2021-07-06,154035407,happyeveryday888,June,8,2019,236,27981,11:15:25,87,"Pasay City,Metro Manila",660,25889,1816,4.69,0,0
699,20210706156756973,2021-07-06,156756973,huiluotuo.ph,June,20,2019,376,10422,11:14:20,75,NaN,341,6417,553,4.56,0,0
708,20210706456337069,2021-07-06,456337069,Harajuku T-shirt,June,1,2021,58,336,12:15:55,55,"Quezon City,Metro Manila",8,169,13,4.60,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [30]:
data[data.loc[:,'join_month'] == 'June']

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
31,20210613277581138,2021-06-13,277581138,John see way's shop.ph,June,24,2020,426,3256,09:37:23,95,NaN,13,734,26,4.79,0,0
40,20210613276428558,2021-06-13,276428558,cottonandbuttons,June,20,2020,47,4650,10:58:45,47,"Taytay,Rizal",19,2832,95,4.85,0,0
46,20210613275875058,2021-06-13,275875058,small__tomato.ph,June,19,2020,495,81352,09:56:42,94,NaN,424,19152,1072,4.73,0,0
61,20210613274192652,2021-06-13,274192652,Kate's Corner,June,14,2020,54,2711,09:42:10,78,"Santo Tomas,Batangas",6,782,19,4.88,0,0
66,2021061374965889,2021-06-13,74965889,its.la.mode,June,17,2018,14,2665,09:30:18,58,"Cainta,Rizal",0,202,2,4.90,0,0
67,20210613273590933,2021-06-13,273590933,Korean. House,June,12,2020,619,3502,08:00:13,100,NaN,37,1265,89,4.68,0,0
68,20210613271800741,2021-06-13,271800741,1989minishop,June,7,2020,120,21583,12:23:35,62,"Pasay City,Metro Manila",278,19107,943,4.79,0,0
99,20210613273569988,2021-06-13,273569988,sy1688,June,12,2020,229,8734,11:20:07,17,"Paranaque City,Metro Manila",456,6662,666,4.50,0,0
105,20210613156756973,2021-06-13,156756973,huiluotuo.ph,June,20,2019,383,10123,11:14:21,80,NaN,322,6228,529,4.57,0,0
123,20210613276895504,2021-06-13,276895504,MC.com,June,22,2020,261,26457,10:33:07,34,"Pasay City,Metro Manila",1220,22394,2265,4.53,0,0
134,202106136381125,2021-06-13,6381125,somura.ph,June,3,2016,1490,253606,10:13:44,95,"Quezon City,Metro Manila",1702,200469,5498,4.86,0,0
143,20210613462140676,2021-06-13,462140676,YULINMM.ph,June,8,2021,109,48,08:29:42,100,NaN,0,0,0,NaN,0,0
150,2021061325811092,2021-06-13,25811092,angelcity.üíã,June,17,2017,249,826733,09:48:26,31,"Pasay City,Metro Manila",12714,663959,28901,4.77,0,0
159,2021061325717546,2021-06-13,25717546,Vivena,June,16,2017,712,188046,11:40:56,68,"Santa Cruz,Metro Manila",1995,214465,6286,4.85,0,0
176,2021062125717546,2021-06-21,25717546,Vivena,June,16,2017,714,189108,11:28:00,67,"Santa Cruz,Metro Manila",2026,218948,6399,4.85,0,0
198,2021062125587666,2021-06-21,25587666,Kily.Ph Online,June,15,2017,326,1172325,12:02:33,73,"Taytay,Rizal",16183,877459,40603,4.77,1,0
200,20210621276895504,2021-06-21,276895504,MC.com,June,22,2020,264,26942,10:51:12,29,"Valenzuela City,Metro Manila",1258,23096,2342,4.53,0,0
204,20210621276428558,2021-06-21,276428558,cottonandbuttons,June,20,2020,47,5138,11:04:43,41,"Taytay,Rizal",23,3045,99,4.85,0,0
214,20210621273094218,2021-06-21,273094218,xiaoyi.ph,June,11,2020,126,52192,08:34:25,99,NaN,127,15456,463,4.85,1,0
219,20210621155121457,2021-06-21,155121457,Aileen Fashion,June,13,2019,978,3868,10:13:50,80,"San Nicolas,Metro Manila",27,8058,154,4.91,0,0
238,20210621275875058,2021-06-21,275875058,small__tomato.ph,June,19,2020,2648,83086,10:00:39,95,NaN,429,19397,1081,4.74,0,0
262,20210621270376961,2021-06-21,270376961,Trendy Tops below 99,June,4,2020,11,2039,09:36:40,51,"Taytay,Rizal",6,882,25,4.87,0,0
278,20210621156756973,2021-06-21,156756973,huiluotuo.ph,June,20,2019,375,10236,11:20:27,82,NaN,333,6312,541,4.56,0,0
289,202106216928162,2021-06-21,6928162,BlusaAtbp (by Sasha),June,17,2016,211,32705,10:38:36,95,"Taytay,Rizal",53,38049,299,4.95,0,0
297,20210621277380946,2021-06-21,277380946,Men's Clothing Oolong Club,June,23,2020,465,9404,10:03:37,95,NaN,332,4506,469,4.47,0,0
341,20210621275072879,2021-06-21,275072879,PRLcloset,June,16,2020,64,7502,12:18:54,49,"Antipolo City,Rizal",33,3430,119,4.83,0,0
343,2021062125811092,2021-06-21,25811092,angelcity.üíã,June,17,2017,253,841621,09:46:46,29,"Pasay City,Metro Manila",13024,682209,29746,4.77,0,0
359,20210628468959708,2021-06-28,468959708,üíóTrendy girlüíó,June,17,2021,99,152,09:51:51,30,"Sampaloc,Metro Manila",0,96,0,5.00,0,0
382,20210628273094218,2021-06-28,273094218,xiaoyi.ph,June,11,2020,196,56827,08:28:20,94,NaN,132,16574,492,4.85,1,0
397,20210628155121457,2021-06-28,155121457,Aileen Fashion,June,13,2019,992,3898,10:11:05,80,"San Nicolas,Metro Manila",27,8131,154,4.91,0,0
416,20210628271800741,2021-06-28,271800741,1989minishop,June,7,2020,122,22977,12:24:28,61,"Pasay City,Metro Manila",291,20269,991,4.79,0,0
421,20210628273201142,2021-06-28,273201142,Women's blouse-Crop Top,June,11,2020,1451,30919,12:00:15,69,NaN,117,13294,442,4.84,0,0
466,2021062875150237,2021-06-28,75150237,ykmencollection,June,18,2018,69,1779,09:43:13,43,"Pasay City,Metro Manila",20,2397,63,4.86,0,0
486,20210628157053609,2021-06-28,157053609,love it shopping,June,21,2019,344,18604,11:43:38,71,"Santa Cruz,Metro Manila",476,28443,1341,4.77,0,0
488,20210628156756973,2021-06-28,156756973,huiluotuo.ph,June,20,2019,358,10322,11:21:07,77,NaN,338,6361,548,4.56,0,0
495,2021062825811092,2021-06-28,25811092,angelcity.üíã,June,17,2017,258,854216,09:52:57,32,"Pasay City,Metro Manila",13236,697397,30410,4.77,0,0
513,20210628275875058,2021-06-28,275875058,small__tomato.ph,June,19,2020,500,83892,10:04:59,97,NaN,433,19683,1098,4.74,0,0
536,20210628456337069,2021-06-28,456337069,Harajuku T-shirt,June,1,2021,58,126,11:59:08,48,"Quezon City,Metro Manila",6,82,6,4.51,0,0
543,20210706461815350,2021-07-06,461815350,DSKJAA.ph,June,8,2021,868,71,08:47:31,100,NaN,0,0,0,NaN,0,0
581,20210706273094218,2021-07-06,273094218,xiaoyi.ph,June,11,2020,197,60573,08:27:19,96,NaN,141,17498,508,4.86,1,0
584,20210706273201142,2021-07-06,273201142,Women's blouse-Crop Top,June,11,2020,1521,31680,11:49:11,74,NaN,117,13453,448,4.84,0,0
591,20210706462140676,2021-07-06,462140676,YULINMM.ph,June,8,2021,224,231,08:27:28,97,NaN,0,35,1,4.92,1,0
604,20210706155121457,2021-07-06,155121457,Aileen Fashion,June,13,2019,1013,3945,10:01:56,84,"San Nicolas,Metro Manila",29,8211,154,4.91,0,0
623,20210706467411881,2021-07-06,467411881,xinyuanmeifushi.ph,June,15,2021,129,280,10:04:28,85,NaN,0,4,0,5.00,0,0
663,20210706277380946,2021-07-06,277380946,Men's Clothing Oolong Club,June,23,2020,438,9911,10:03:31,96,NaN,347,4759,496,4.47,0,0
678,2021070675150237,2021-07-06,75150237,ykmencollection,June,18,2018,70,1797,10:03:52,49,"Pasay City,Metro Manila",21,2421,63,4.86,0,0
698,20210706154035407,2021-07-06,154035407,happyeveryday888,June,8,2019,236,27981,11:15:25,87,"Pasay City,Metro Manila",660,25889,1816,4.69,0,0
699,20210706156756973,2021-07-06,156756973,huiluotuo.ph,June,20,2019,376,10422,11:14:20,75,NaN,341,6417,553,4.56,0,0
708,20210706456337069,2021-07-06,456337069,Harajuku T-shirt,June,1,2021,58,336,12:15:55,55,"Quezon City,Metro Manila",8,169,13,4.60,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [31]:
#l·ªçc l·∫•y d·ªØ li·ªáu c√≥ tr√™n 500 ƒë√°nh gi√° t·ªët
data[data["rating_good"] > 500]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,20210706419954100,2021-07-06,419954100,Fall in love with you,April,9,2021,662,12968,09:33:28,59,NaN,21,1092,63,4.75,0,0
739,2021070664360491,2021-07-06,64360491,Yzkzks.ph,April,9,2018,650,80591,10:41:36,92,"Pasay City,Metro Manila",385,55669,1161,4.89,0,0
740,2021070616590993,2021-07-06,16590993,Adol Janet,February,14,2017,473,513469,12:55:27,78,"Binondo,Metro Manila",2506,297528,9597,4.84,0,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [37]:
#l·ªçc l·∫•y t√™n c√°c shop v√† ƒë·ªãa ch·ªâ c√≥ tr√™n 1000 ƒë√°nh gi√° t·ªët
data.loc[:,['name','shop_location']][data['rating_good']>1000]

                      name               shop_location
0             hello.may.ph                         NaN
1          love.women.shop    San Nicolas,Metro Manila
2            R&O RedOrange     Pasay City,Metro Manila
3              patriciacai        Binondo,Metro Manila
4     Little Market Manila  Caloocan City,Metro Manila
..                     ...                         ...
738  Fall in love with you                         NaN
739              Yzkzks.ph     Pasay City,Metro Manila
740            Adol Janet         Binondo,Metro Manila
744         Clairecvc Shop        Binondo,Metro Manila
745            angelcity.üíã     Pasay City,Metro Manila

[531 rows x 2 columns]

In [42]:
#ƒëi·ªÅu ki·ªán ph·ª©c
# & v√†, ~ ph·ªß ƒë·ªãnh, ho·∫∑c | 
# l·ªçc l·∫•y t√™n v√† ƒë·ªãa ch·ªâ c√≥ ƒë√°nh gi√° t·ªët tr√™n 1000 v√† trung b√¨nh 4 sao
data.loc[:,['name','shop_location']][(data['rating_good']>1000) & (data["rating_star"] > 4)]

                      name               shop_location
0             hello.may.ph                         NaN
1          love.women.shop    San Nicolas,Metro Manila
2            R&O RedOrange     Pasay City,Metro Manila
3              patriciacai        Binondo,Metro Manila
4     Little Market Manila  Caloocan City,Metro Manila
..                     ...                         ...
738  Fall in love with you                         NaN
739              Yzkzks.ph     Pasay City,Metro Manila
740            Adol Janet         Binondo,Metro Manila
744         Clairecvc Shop        Binondo,Metro Manila
745            angelcity.üíã     Pasay City,Metro Manila

[531 rows x 2 columns]

In [43]:
data.loc[:,['name','shop_location']][(data['rating_good']>1000)  | (data["rating_star"] > 4)]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745           angelcity.üíã     Pasay City,Metro Manila

[740 rows x 2 columns]

In [45]:
#l·ªçc d·ªØ li·ªáu du tr√™n 5  < 2017nƒÉm t·ªìn t·∫°i, ƒë∆∞·ª£c shoppe ver v√† kh√¥ng v√† kh√¥ng c√≥ qu√° 500 b√†i ƒë√°nh gi√° x·∫•u
data[(data["join_year"] <= 2017) & (data['is_shopee_verified'] == 1) & (data["rating_bad"] <200)]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
54,2021061329808441,2021-06-13,29808441,ELfille 2.0,August,6,2017,128,21450,10:40:10,88,"Marikina City,Metro Manila",15,4915,73,4.93,1,0
178,2021062121407329,2021-06-21,21407329,patriciacai,April,30,2017,165,18860,09:18:37,95,"Binondo,Metro Manila",44,19080,217,4.94,1,0
516,2021062821407329,2021-06-28,21407329,patriciacai,April,30,2017,165,18967,09:14:17,95,"Binondo,Metro Manila",44,19200,221,4.94,1,0

In [47]:
# l·ªçc l·∫•y gi√° tr·ªã c·ªßa c√°c shop c√≥ ƒë·ªãa ch·ªâ t·∫°i Manila
data[data["shop_location"].str.contains("Manila") == True]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
8,20210613312874722,2021-06-13,312874722,Shopping Center boutique,September,22,2020,286,110539,10:14:49,76,"San Nicolas,Metro Manila",679,28651,2027,4.70,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,2021070650114777,2021-07-06,50114777,BCUA Lingerie Bra and Panty,December,28,2017,534,113865,11:16:00,55,"Pasay City,Metro Manila",6389,325315,14994,4.77,0,0
739,2021070664360491,2021-07-06,64360491,Yzkzks.ph,April,9,2018,650,80591,10:41:36,92,"Pasay City,Metro Manila",385,55669,1161,4.89,0,0
740,2021070616590993,2021-07-06,16590993,Adol Janet,February,14,2017,473,513469,12:55:27,78,"Binondo,Metro Manila",2506,297528,9597,4.84,0,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [50]:
#l·ªçc b·∫±ng query
# truy v·∫•n nhanh h∆°n
# c√¢u l·ªánh ƒë∆°n gi·∫£n v√† d·ªÖ hi·ªÉu h∆°n
# and, or, not
#l·ªçc d·ªØ li·ªáu du tr√™n 5  < 2017nƒÉm t·ªìn t·∫°i, ƒë∆∞·ª£c shoppe ver v√† kh√¥ng v√† kh√¥ng c√≥ qu√° 500 b√†i ƒë√°nh gi√° x·∫•u
#trong c√°c tr∆∞·ªùng h·ª£p c√≥ k·ª≥ t·ª± ƒë·∫∑c bi·ªát nh∆∞ d·∫•u c√°ch s·ª≠ d·ª•ng d·∫•u ` ƒë·ªÉ ghi t√™n c·ªôt, ex: `huy·ªÅn`
data.query("(join_year<=2017) & (is_shopee_verified==1) & (rating_bad<200)")

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
54,2021061329808441,2021-06-13,29808441,ELfille 2.0,August,6,2017,128,21450,10:40:10,88,"Marikina City,Metro Manila",15,4915,73,4.93,1,0
178,2021062121407329,2021-06-21,21407329,patriciacai,April,30,2017,165,18860,09:18:37,95,"Binondo,Metro Manila",44,19080,217,4.94,1,0
516,2021062821407329,2021-06-28,21407329,patriciacai,April,30,2017,165,18967,09:14:17,95,"Binondo,Metro Manila",44,19200,221,4.94,1,0

In [52]:
data.query("(join_year<=2017) and (is_shopee_verified==1) and (rating_bad<200)")\
.filter(['name', 'shop_location'])

            name               shop_location
3    patriciacai        Binondo,Metro Manila
54   ELfille 2.0  Marikina City,Metro Manila
178  patriciacai        Binondo,Metro Manila
516  patriciacai        Binondo,Metro Manila

In [54]:
#data.query("shop_location.str.contains("Manila") == True") ==> sai
data.query("shop_location.str.contains('Manila')==True")

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
8,20210613312874722,2021-06-13,312874722,Shopping Center boutique,September,22,2020,286,110539,10:14:49,76,"San Nicolas,Metro Manila",679,28651,2027,4.70,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,2021070650114777,2021-07-06,50114777,BCUA Lingerie Bra and Panty,December,28,2017,534,113865,11:16:00,55,"Pasay City,Metro Manila",6389,325315,14994,4.77,0,0
739,2021070664360491,2021-07-06,64360491,Yzkzks.ph,April,9,2018,650,80591,10:41:36,92,"Pasay City,Metro Manila",385,55669,1161,4.89,0,0
740,2021070616590993,2021-07-06,16590993,Adol Janet,February,14,2017,473,513469,12:55:27,78,"Binondo,Metro Manila",2506,297528,9597,4.84,0,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [ ]:
#trong c√°c tr∆∞·ªùng h·ª£p c√≥ k·ª≥ t·ª± ƒë·∫∑c bi·ªát nh∆∞ d·∫•u c√°ch s·ª≠ d·ª•ng d·∫•u ` ƒë·ªÉ ghi t√™n c·ªôt, ex: `huy·ªÅn`

In [8]:
#Bu·ªïi 2 10/17/2022
import pandas as pd
import numpy as np
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0)
#t√≠nh s·ªë l∆∞·ª£ng m·∫∑t h√†ng c·ªßa m·ªói shop
a = data.groupby("name")["item_count"].sum().to_frame()
#to_frame tr√¨nh b√†y d∆∞·ªõi d·∫°ng b·∫£ng, n·∫øu ko c√≥ th√¨ tr√¨nh b√†y d∆∞·ªõi d·∫°ng seri
a
#df.pivot_table(values='item_count',index='name',aggfunc='sum')

                              item_count
name
 Youku Shangyi fashion store         771
 Zanzea Women's Apparel             1567
(MEILUN)Men's Fashion                128
1989minishop                         242
5ngyzt5ebj                           199
...                                  ...
zhufeng2.ph                          437
‚≠êÔ∏èPink Star Korea Fashion            382
Â∞èÈæô‰∏ìÂçñ‚Äî‚ÄîÊó•Áî®ÁôæË¥ß                           118
üåø Peppermint Shop                   4206
üíóTrendy girlüíó                         99

[391 rows x 1 columns]

In [14]:
#l·∫≠p b·∫£ng t√≠nh t·ªïng s·ªë l∆∞·ª£ng ƒë√°nh gi√° c·ªßa shop
b = data.groupby("name")[["rating_bad","rating_good","rating_normal"]].sum()
b
#data.pivot_table(values=['rating_bad','rating_good','rating_normal'],index='name',aggfunc='sum')

                              rating_bad  rating_good  rating_normal
name
 Youku Shangyi fashion store           0           22              1
 Zanzea Women's Apparel               14          505             15
(MEILUN)Men's Fashion                  5           81              9
1989minishop                         569        39376           1934
5ngyzt5ebj                           264        10800            530
...                                  ...          ...            ...
zhufeng2.ph                           14         1375             67
‚≠êÔ∏èPink Star Korea Fashion            144        16561            457
Â∞èÈæô‰∏ìÂçñ‚Äî‚ÄîÊó•Áî®ÁôæË¥ß                             0            2              0
üåø Peppermint Shop                     71         6026            185
üíóTrendy girlüíó                          0           96              0

[391 rows x 3 columns]

In [16]:
#s·ªë l∆∞·ª£ng c√°c shop th√†nh l·∫≠p theo nƒÉm
c = data.groupby("join_year")["name"].count()
c
data.pivot_table(values = 'shopid', index = 'join_year', aggfunc = 'count')

join_year
2015      4
2016     27
2017    156
2018     87
2019    106
2020    247
2021    119
Name: name, dtype: int64

In [18]:
#PIVOT
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header=0)
data.pivot_table(values = "Price", index = "ProductName", columns = "Year", aggfunc = "mean")

Year,2013,2014,2015,2016,2017,2018,2019
ProductName,,,,,,,
Apples (red) - Retail,2.080950,2.410118,2.401417,2.428333,2.560000,NaN,NaN
Apples - Retail,NaN,NaN,NaN,NaN,3.334175,3.923417,4.259810
Bananas - Retail,4.002225,4.962827,5.368833,5.914167,7.313738,8.701475,10.879371
Beans (white) - Retail,6.932800,9.484309,7.288333,6.949167,9.217700,9.242844,11.658690
Bread (common) - Retail,2.853000,3.069491,2.982917,3.373333,4.178841,4.740619,5.513271
Bread (pita) - Retail,NaN,NaN,2.311429,2.440000,2.480000,NaN,NaN
Bulgur - Retail,2.405025,2.593791,2.680500,2.765833,3.293874,3.546027,4.369369
Cabbage - Retail,1.104800,1.073233,1.197000,1.375714,1.589495,1.751664,2.232738
Cauliflower - Retail,2.046950,2.129317,2.772800,2.655714,2.878481,3.237750,4.326537
Cheese - Retail,NaN,NaN,15.421429,15.490833,24.425554,27.905196,28.013267
Chickpeas - Retail,5.918450,5.815827,5.665250,7.765000,13.577754,12.243981,9.051525
Cocoa (powder) - Retail,37.795150,38.134264,36.657917,36.696667,43.299851,45.214012,48.160994
Coffee (instant) - Retail,39.954750,36.359891,29.626917,35.796667,45.395493,50.388579,42.705810
Coffee - Retail,30.890625,31.261200,34.499917,36.154167,42.082349,44.706650,47.646450
Cucumbers (greenhouse) - Retail,1.737400,1.936482,1.977083,2.298333,4.376667,NaN,NaN
Cucumbers - Retail,NaN,NaN,NaN,NaN,2.902958,3.180702,4.023225
Eggplants - Retail,NaN,NaN,1.917143,2.550000,3.543931,3.641333,5.018958
Eggs - Retail,0.310175,0.350036,0.352250,0.361667,0.480056,0.609846,0.549542
Electricity - Retail,NaN,NaN,NaN,NaN,0.411850,0.502633,0.600825
Fish (fresh) - Retail,13.461625,14.228209,14.089750,15.066667,20.882454,24.301085,29.341567
Fuel (gas) - Retail,NaN,NaN,63.548571,64.800000,77.366069,88.545933,92.551890
Fuel (petrol-gasoline) - Retail,NaN,NaN,4.590000,4.535000,5.291772,6.253287,15.211690
Garlic - Retail,8.143075,8.758027,10.943750,14.851667,14.835772,13.024994,25.999040
Groundnuts (shelled) - Retail,12.605350,12.779155,17.512000,17.527500,19.470874,21.036458,29.546023
Lentils - Retail,3.452275,4.467318,5.786250,6.957500,7.807254,6.684435,6.587621
Meat (chicken) - Retail,6.677175,7.224882,7.024250,7.434167,8.890931,9.954510,12.097452
Meat (mutton) - Retail,25.609925,26.065691,27.004750,31.058333,43.883523,51.335848,55.530354
Meat (veal) - Retail,25.021700,27.711155,33.118250,37.070833,41.791177,43.621363,46.047448
Milk (pasteurized) - Retail,2.379750,2.643636,2.817833,2.907500,3.168628,4.080617,4.448258
"Milk (powder, infant formula) - Retail",NaN,NaN,63.757143,70.695833,85.364697,123.919679,127.172654
Oil (olive) - Retail,10.615950,12.710382,21.570500,27.822500,29.237797,30.880817,28.087996
Oil (sunflower) - Retail,6.082575,6.159518,8.214250,7.721667,8.173803,9.042829,10.151044
Onions - Retail,1.064950,1.088882,1.375250,1.481667,1.276641,2.564400,3.108898
Oranges - Retail,3.792200,1.630714,1.712429,1.621250,2.852100,2.982422,4.339036
Pasta - Retail,2.370975,2.687491,2.944917,2.995833,3.160313,3.494312,4.314592
"Peas (green, dry) - Retail",2.385100,3.015000,3.166667,NaN,NaN,NaN,NaN
Potatoes - Retail,NaN,NaN,1.538571,1.094167,1.636687,2.442390,3.100167
Rice - Retail,4.747700,6.367855,6.426833,6.047500,7.164792,8.640444,9.384565
Salt - Retail,1.434225,1.462836,1.516083,1.666667,1.998374,2.232254,2.318398
Spinach - Retail,NaN,NaN,2.660000,2.292857,2.642886,2.802390,4.477733
Sugar - Retail,3.554150,3.783709,3.852667,4.175833,4.277897,4.655442,4.949027
Tea (green) - Retail,3.590825,3.897700,4.084667,4.460000,4.660000,NaN,NaN
Tea (herbal) - Retail,NaN,NaN,NaN,NaN,5.016853,5.838017,5.345148
Tea - Retail,14.152900,16.543309,19.870750,22.537500,27.112123,28.601408,28.860771
Tomatoes (paste) - Retail,NaN,NaN,6.771429,6.479167,5.839510,7.688948,10.898944
Tomatoes - Retail,1.833025,1.936864,1.927667,1.914167,3.012379,3.897779,4.399598
Transport (public) - Retail,NaN,NaN,NaN,NaN,2.569043,2.425712,2.436694
"Wage (non-qualified labour, non-agricultural) - Retail",NaN,NaN,33.100000,43.330000,46.800000,NaN,NaN
Water - Retail,NaN,NaN,NaN,NaN,5.052814,5.826585,5.190500
Wheat flour - Retail,2.255350,2.565082,2.672583,2.848333,3.132718,3.405498,3.685917
Yogurt - Retail,NaN,NaN,3.984286,3.935833,4.783010,5.804490,5.956696
Zucchini - Retail,NaN,NaN,NaN,NaN,3.477094,3.656315,4.288779

In [19]:
#t√¨m gi√° l·ªõn nh·∫•t theo t·ª´ng nƒÉm
data.pivot_table(values = "Price", index = "ProductName", columns = "Year", aggfunc = "max")

Year,2013,2014,2015,2016,2017,2018,2019
ProductName,,,,,,,
Apples (red) - Retail,2.3878,2.8952,2.980,2.83,2.8300,NaN,NaN
Apples - Retail,NaN,NaN,NaN,NaN,5.3033,5.1543,6.0925
Bananas - Retail,4.0779,5.7980,5.880,6.67,8.9246,11.5253,12.9400
Beans (white) - Retail,8.5757,10.2467,7.665,7.65,10.3193,12.4070,13.0975
Bread (common) - Retail,2.9149,3.2623,3.140,3.76,4.8107,5.6603,6.1942
Bread (pita) - Retail,NaN,NaN,2.360,2.56,2.4800,NaN,NaN
Bulgur - Retail,2.4369,2.6614,2.730,2.87,3.6822,4.4844,5.2611
Cabbage - Retail,1.1181,1.1632,1.318,1.50,2.2753,2.4855,3.2543
Cauliflower - Retail,2.3045,2.9470,3.232,3.98,4.7759,4.6490,5.9113
Cheese - Retail,NaN,NaN,15.620,18.73,30.1573,32.8791,35.5297
Chickpeas - Retail,6.1726,5.9180,6.240,10.61,15.5274,14.6566,10.4517
Cocoa (powder) - Retail,38.1419,38.7882,37.337,39.06,47.2439,53.7658,54.8237
Coffee (instant) - Retail,40.1146,39.7204,30.070,39.03,58.5085,61.3502,55.8566
Coffee - Retail,31.0164,31.6590,35.740,38.98,44.9789,54.9968,51.5928
Cucumbers (greenhouse) - Retail,2.3567,2.7623,3.119,3.30,4.5700,NaN,NaN
Cucumbers - Retail,NaN,NaN,NaN,NaN,5.6738,4.2470,7.1657
Eggplants - Retail,NaN,NaN,2.640,4.26,6.8744,5.7391,11.1584
Eggs - Retail,0.3635,0.3889,0.400,0.57,0.6107,0.8300,0.7891
Electricity - Retail,NaN,NaN,NaN,NaN,0.4120,0.5972,0.7102
Fish (fresh) - Retail,13.9392,15.6697,15.110,17.08,26.4764,30.5595,37.7223
Fuel (gas) - Retail,NaN,NaN,65.240,69.67,86.9783,97.2577,112.4568
Fuel (petrol-gasoline) - Retail,NaN,NaN,4.840,5.13,5.6260,6.9972,111.2686
Garlic - Retail,8.3617,9.5358,15.330,19.77,20.1185,18.9205,41.7712
Groundnuts (shelled) - Retail,12.7324,13.3945,19.430,18.10,21.6830,23.8909,36.0327
Lentils - Retail,3.6645,5.0000,6.240,7.19,8.6060,7.6654,7.8415
Meat (chicken) - Retail,7.3100,7.7342,7.530,7.93,10.5681,12.0229,15.6383
Meat (mutton) - Retail,25.7582,27.1764,28.240,34.12,50.5976,57.3508,59.3223
Meat (veal) - Retail,25.9683,30.3661,35.690,38.57,45.4883,48.3661,49.7239
Milk (pasteurized) - Retail,2.4882,2.8430,2.872,2.96,3.5807,4.7517,5.3813
"Milk (powder, infant formula) - Retail",NaN,NaN,65.540,76.96,93.9628,159.4458,150.0380
Oil (olive) - Retail,10.9123,13.3716,27.180,28.40,30.8409,34.7226,30.1293
Oil (sunflower) - Retail,6.2098,6.2600,22.740,7.88,8.8251,10.9393,11.2261
Onions - Retail,1.1584,1.1820,1.740,2.64,1.6489,4.6032,6.5986
Oranges - Retail,5.9520,2.3310,2.510,2.49,4.2013,3.8761,7.0085
Pasta - Retail,2.3976,2.8370,3.030,3.05,3.3305,4.0496,5.0748
"Peas (green, dry) - Retail",2.3882,3.5312,3.410,NaN,NaN,NaN,NaN
Potatoes - Retail,NaN,NaN,1.860,1.39,2.1628,3.8050,5.5475
Rice - Retail,5.1337,6.7240,6.755,6.39,8.4292,10.2796,10.4043
Salt - Retail,1.4716,1.4919,1.600,1.77,2.2083,2.9118,2.7772
Spinach - Retail,NaN,NaN,2.880,3.40,3.5793,3.8405,6.7115
Sugar - Retail,3.6451,4.0144,4.030,4.31,4.6351,5.0766,5.5038
Tea (green) - Retail,3.6888,4.0910,4.171,4.59,4.7200,NaN,NaN
Tea (herbal) - Retail,NaN,NaN,NaN,NaN,5.9503,6.9347,5.9599
Tea - Retail,14.3991,18.2830,21.420,23.83,30.8234,31.8628,35.4751
Tomatoes (paste) - Retail,NaN,NaN,6.810,6.70,6.2700,12.4038,11.5304
Tomatoes - Retail,2.0484,2.4550,2.750,3.08,4.5217,5.8000,7.3245
Transport (public) - Retail,NaN,NaN,NaN,NaN,2.9504,3.1529,3.6964
"Wage (non-qualified labour, non-agricultural) - Retail",NaN,NaN,33.350,43.33,46.8000,NaN,NaN
Water - Retail,NaN,NaN,NaN,NaN,6.3605,7.4418,6.0740
Wheat flour - Retail,2.3416,2.6550,2.750,2.93,3.4715,4.5670,4.2703
Yogurt - Retail,NaN,NaN,4.010,4.06,5.5461,6.9722,7.4009
Zucchini - Retail,NaN,NaN,NaN,NaN,7.0347,5.9041,7.3851

In [20]:
#t√¨m gi√° l·ªõn nh·∫•t c·ªßa t·ª´ng m·∫∑t h√†ng
data.pivot_table(values='Price', index='ProductName', aggfunc='max')

                                                       Price
ProductName
Apples (red) - Retail                                 2.9800
Apples - Retail                                       6.0925
Bananas - Retail                                     12.9400
Beans (white) - Retail                               13.0975
Bread (common) - Retail                               6.1942
Bread (pita) - Retail                                 2.5600
Bulgur - Retail                                       5.2611
Cabbage - Retail                                      3.2543
Cauliflower - Retail                                  5.9113
Cheese - Retail                                      35.5297
Chickpeas - Retail                                   15.5274
Cocoa (powder) - Retail                              54.8237
Coffee (instant) - Retail                            61.3502
Coffee - Retail                                      54.9968
Cucumbers (greenhouse) - Retail                       4.5700
Cucumbers - Retail                                    7.1657
Eggplants - Retail                                   11.1584
Eggs - Retail                                         0.8300
Electricity - Retail                                  0.7102
Fish (fresh) - Retail                                37.7223
Fuel (gas) - Retail                                 112.4568
Fuel (petrol-gasoline) - Retail                     111.2686
Garlic - Retail                                      41.7712
Groundnuts (shelled) - Retail                        36.0327
Lentils - Retail                                      8.6060
Meat (chicken) - Retail                              15.6383
Meat (mutton) - Retail                               59.3223
Meat (veal) - Retail                                 49.7239
Milk (pasteurized) - Retail                           5.3813
Milk (powder, infant formula) - Retail              159.4458
Oil (olive) - Retail                                 34.7226
Oil (sunflower) - Retail                             22.7400
Onions - Retail                                       6.5986
Oranges - Retail                                      7.0085
Pasta - Retail                                        5.0748
Peas (green, dry) - Retail                            3.5312
Potatoes - Retail                                     5.5475
Rice - Retail                                        10.4043
Salt - Retail                                         2.9118
Spinach - Retail                                      6.7115
Sugar - Retail                                        5.5038
Tea (green) - Retail                                  4.7200
Tea (herbal) - Retail                                 6.9347
Tea - Retail                                         35.4751
Tomatoes (paste) - Retail                            12.4038
Tomatoes - Retail                                     7.3245
Transport (public) - Retail                           3.6964
Wage (non-qualified labour, non-agricultural) -...   46.8000
Water - Retail                                        7.4418
Wheat flour - Retail                                  4.5670
Yogurt - Retail                                       7.4009
Zucchini - Retail                                     7.3851

In [25]:
#t√≠nh t·ªïng gi√° v√† trung b√¨nh th√°ng c·ªßa t·ª´ng m·∫∑t h√†ng theo ƒë·ªãa ƒëi·ªÉm
import numpy as np
data.pivot_table(values = ["Price","Month"], index = "ProductName", columns = "Place", aggfunc = {"Price": np.sum, "Month": np.mean})

                                                       Month            \
Place                                                 Ankara  Istanbul
ProductName
Apples (red) - Retail                                    NaN       NaN
Apples - Retail                                     6.500000  6.500000
Bananas - Retail                                    6.500000  6.500000
Beans (white) - Retail                              6.500000  6.500000
Bread (common) - Retail                             6.500000  6.500000
Bread (pita) - Retail                                    NaN       NaN
Bulgur - Retail                                     6.500000  6.500000
Cabbage - Retail                                    6.421053  6.421053
Cauliflower - Retail                                6.294118  6.294118
Cheese - Retail                                     6.500000  6.500000
Chickpeas - Retail                                  6.500000  6.500000
Cocoa (powder) - Retail                             6.500000  6.500000
Coffee (instant) - Retail                           7.071429  7.071429
Coffee - Retail                                     6.500000  6.500000
Cucumbers (greenhouse) - Retail                          NaN       NaN
Cucumbers - Retail                                  6.500000  6.500000
Eggplants - Retail                                  6.500000  6.500000
Eggs - Retail                                       6.500000  6.500000
Electricity - Retail                                6.500000  6.500000
Fish (fresh) - Retail                               6.500000  6.500000
Fuel (gas) - Retail                                 6.500000  6.500000
Fuel (petrol-gasoline) - Retail                     6.500000  6.500000
Garlic - Retail                                     6.500000  6.500000
Groundnuts (shelled) - Retail                       6.500000  6.500000
Lentils - Retail                                    6.500000  6.500000
Meat (chicken) - Retail                             6.500000  6.500000
Meat (mutton) - Retail                              6.500000  6.500000
Meat (veal) - Retail                                6.500000  6.500000
Milk (pasteurized) - Retail                         6.500000  6.500000
Milk (powder, infant formula) - Retail              6.500000  6.500000
Oil (olive) - Retail                                6.500000  6.500000
Oil (sunflower) - Retail                            6.500000  6.500000
Onions - Retail                                     6.500000  6.500000
Oranges - Retail                                    5.846154  5.846154
Pasta - Retail                                      6.500000  6.500000
Peas (green, dry) - Retail                               NaN       NaN
Potatoes - Retail                                   6.500000  6.500000
Rice - Retail                                       6.500000  6.500000
Salt - Retail                                       6.500000  6.500000
Spinach - Retail                                    6.294118  6.294118
Sugar - Retail                                      6.500000  6.500000
Tea (green) - Retail                                     NaN       NaN
Tea (herbal) - Retail                               6.500000  6.500000
Tea - Retail                                        6.500000  6.500000
Tomatoes (paste) - Retail                           6.500000  6.500000
Tomatoes - Retail                                   6.500000  6.500000
Transport (public) - Retail                         6.428571  6.500000
Wage (non-qualified labour, non-agricultural) -...       NaN       NaN
Water - Retail                                      6.500000  6.500000
Wheat flour - Retail                                6.500000  6.500000
Yogurt - Retail                                     6.500000  6.500000
Zucchini - Retail                                   6.500000  6.500000

                                                                               \
Place                                                  Izmir National Average
ProductName
Apples (red) - Retail                                    NaN         6.428571
Apples - Retail                                     6.500000         6.500000
Bananas - Retail                                    6.500000         6.454545
Beans (white) - Retail                              6.500000         6.454545
Bread (common) - Retail                             6.500000         6.454545
Bread (pita) - Retail                                    NaN         6.681818
Bulgur - Retail                                     6.500000         6.454545
Cabbage - Retail                                    6.421053         6.194444
Cauliflower - Retail                                6.294118         6.117647
Cheese - Retail                                     6.500000         6.586957
Chickpeas - Retail                                  6.500000         6.454545
Cocoa (powder) - Retail                             6.500000         6.454545
Coffee (instant) - Retail                           7.071429         6.454545
Coffee - Retail                                     6.500000         6.454545
Cucumbers (greenhouse) - Retail                          NaN         6.428571
Cucumbers - Retail                                  6.500000         6.500000
Eggplants - Retail                                  6.500000         6.586957
Eggs - Retail                                       6.500000         6.454545
Electricity - Retail                                6.500000         6.500000
Fish (fresh) - Retail                               6.500000         6.454545
Fuel (gas) - Retail                                 6.500000         6.586957
Fuel (petrol-gasoline) - Retail                     6.500000         6.586957
Garlic - Retail                                     6.500000         6.454545
Groundnuts (shelled) - Retail                       6.500000         6.454545
Lentils - Retail                                    6.500000         6.454545
Meat (chicken) - Retail                             6.500000         6.454545
Meat (mutton) - Retail                              6.500000         6.454545
Meat (veal) - Retail                                6.500000         6.454545
Milk (pasteurized) - Retail                         6.500000         6.454545
Milk (powder, infant formula) - Retail              6.500000         6.586957
Oil (olive) - Retail                                6.500000         6.454545
Oil (sunflower) - Retail                            6.500000         6.454545
Onions - Retail                                     6.500000         6.454545
Oranges - Retail                                    5.846154         5.840909
Pasta - Retail                                      6.500000         6.454545
Peas (green, dry) - Retail                               NaN         5.285714
Potatoes - Retail                                   6.500000         6.586957
Rice - Retail                                       6.500000         6.454545
Salt - Retail                                       6.500000         6.454545
Spinach - Retail                                    6.294118         6.250000
Sugar - Retail                                      6.500000         6.454545
Tea (green) - Retail                                     NaN         6.428571
Tea (herbal) - Retail                               6.500000         6.500000
Tea - Retail                                        6.500000         6.454545
Tomatoes (paste) - Retail                           6.500000         6.586957
Tomatoes - Retail                                   6.500000         6.454545
Transport (public) - Retail                         6.500000         6.500000
Wage (non-qualified labour, non-agricultural) -...       NaN         6.681818
Water - Retail                                      6.500000         6.500000
Wheat flour - Retail                                6.500000         6.454545
Yogurt - Retail                                     6.500000         6.586957
Zucchini - Retail                                   6.500000         6.500000

                                                        Price             \
Place                                                  Ankara   Istanbul
ProductName
Apples (red) - Retail                                     NaN        NaN
Apples - Retail                                      133.6730   147.7027
Bananas - Retail                                     304.7437   327.6029
Beans (white) - Retail                               332.6128   383.5499
Bread (common) - Retail                              167.4157   184.6184
Bread (pita) - Retail                                     NaN        NaN
Bulgur - Retail                                      129.5859   143.0773
Cabbage - Retail                                      31.8945    38.3249
Cauliflower - Retail                                  56.4567    69.1003
Cheese - Retail                                      961.9613   980.0739
Chickpeas - Retail                                   378.5647   438.2447
Cocoa (powder) - Retail                             1613.8489  1700.9064
Coffee (instant) - Retail                           1045.5429  1424.2491
Coffee - Retail                                     1573.6823  1604.3165
Cucumbers (greenhouse) - Retail                           NaN        NaN
Cucumbers - Retail                                   117.3324   128.5635
Eggplants - Retail                                   136.3472   153.3957
Eggs - Retail                                         18.0299    20.8500
Electricity - Retail                                  18.1837    18.1837
Fish (fresh) - Retail                                887.1821  1035.5012
Fuel (gas) - Retail                                 3055.7316  3200.5098
Fuel (petrol-gasoline) - Retail                      319.4124   322.7623
Garlic - Retail                                      548.1320   716.8176
Groundnuts (shelled) - Retail                        796.0976   898.2896
Lentils - Retail                                     243.2624   262.8975
Meat (chicken) - Retail                              352.9688   385.8055
Meat (mutton) - Retail                              1785.0146  1909.8477
Meat (veal) - Retail                                1522.3885  1609.5090
Milk (pasteurized) - Retail                          138.4768   143.5290
Milk (powder, infant formula) - Retail              3867.4508  4009.7087
Oil (olive) - Retail                                1044.9484  1072.4479
Oil (sunflower) - Retail                             323.0173   344.1325
Onions - Retail                                       73.7092    88.4918
Oranges - Retail                                      87.4031    97.6397
Pasta - Retail                                       130.8555   134.9679
Peas (green, dry) - Retail                                NaN        NaN
Potatoes - Retail                                     81.1773    90.8639
Rice - Retail                                        280.8815   316.1799
Salt - Retail                                         74.0132    84.0101
Spinach - Retail                                      50.7829    62.5746
Sugar - Retail                                       160.7533   173.0889
Tea (green) - Retail                                      NaN        NaN
Tea (herbal) - Retail                                183.6941   198.3318
Tea - Retail                                         950.0084  1027.7726
Tomatoes (paste) - Retail                            277.9238   291.0017
Tomatoes - Retail                                    134.0984   143.4385
Transport (public) - Retail                           85.7563    72.3179
Wage (non-qualified labour, non-agricultural) -...        NaN        NaN
Water - Retail                                       212.7846   204.3195
Wheat flour - Retail                                 107.5198   131.2668
Yogurt - Retail                                      190.2318   203.0441
Zucchini - Retail                                    128.4446   152.0505


Place                                                   Izmir National Average
ProductName
Apples (red) - Retail                                     NaN         100.4721
Apples - Retail                                      137.8665          93.5830
Bananas - Retail                                     342.8845         455.8813
Beans (white) - Retail                               379.3065         570.2033
Bread (common) - Retail                              171.5711         253.0077
Bread (pita) - Retail                                     NaN          52.9000
Bulgur - Retail                                      135.1067         204.1380
Cabbage - Retail                                      36.6622          53.3941
Cauliflower - Retail                                  54.5321          98.2747
Cheese - Retail                                     1035.2488         953.2388
Chickpeas - Retail                                   458.0320         525.6862
Cocoa (powder) - Retail                             1637.9016        2668.9501
Coffee (instant) - Retail                           1559.8856        2464.6463
Coffee - Retail                                     1682.7990        2528.6473
Cucumbers (greenhouse) - Retail                           NaN          92.6859
Cucumbers - Retail                                   118.9467          85.4524
Eggplants - Retail                                   145.5896         162.5948
Eggs - Retail                                         21.2919          27.8591
Electricity - Retail                                  18.1837          13.2415
Fish (fresh) - Retail                                789.4628        1237.3507
Fuel (gas) - Retail                                 3068.0847        3608.0861
Fuel (petrol-gasoline) - Retail                      321.2965         359.7768
Garlic - Retail                                      693.2822         931.9725
Groundnuts (shelled) - Retail                        852.7035        1251.6986
Lentils - Retail                                     263.5486         387.7077
Meat (chicken) - Retail                              379.5504         566.5992
Meat (mutton) - Retail                              1851.8339        2380.2582
Meat (veal) - Retail                                1621.6671        2427.5727
Milk (pasteurized) - Retail                          141.4499         216.8098
Milk (powder, infant formula) - Retail              4306.6330        4492.5127
Oil (olive) - Retail                                1063.7668        1564.6080
Oil (sunflower) - Retail                             317.7816         538.4688
Onions - Retail                                       88.3118         122.1150
Oranges - Retail                                      87.0786         109.0408
Pasta - Retail                                       131.5066         211.0849
Peas (green, dry) - Retail                                NaN          20.3002
Potatoes - Retail                                     87.7596          93.9727
Rice - Retail                                        318.6902         467.6049
Salt - Retail                                         81.3386         117.0271
Spinach - Retail                                      56.8981          72.7884
Sugar - Retail                                       165.4068         280.7829
Tea (green) - Retail                                      NaN         173.7540
Tea (herbal) - Retail                                199.5347         135.8380
Tea - Retail                                        1093.0043        1492.2591
Tomatoes (paste) - Retail                            307.5030         368.6812
Tomatoes - Retail                                    134.9070         178.0526
Transport (public) - Retail                          110.4762          54.7616
Wage (non-qualified labour, non-agricultural) -...        NaN         892.0600
Water - Retail                                       180.0569         113.5604
Wheat flour - Retail                                 130.8998         196.3658
Yogurt - Retail                                      209.4428         223.4756
Zucchini - Retail                                    133.6774          92.3674

In [26]:
#Sinh D·ªØ Li·ªáu T·ª´ C√°c C·ªôt ƒê√£ C√≥
#T·ª™ PH√âP TO√ÅN S·ªê H·ªåC + - * /...
import pandas as pd
import numpy as np
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0)
#th√™m c·ªôt rating = rang ting good * 2 + rating normal - rating bad *3
data.loc[:,"rating"] = data.loc[:,"rating_good"]*2 + data.loc[:,"rating_normal"] - data.loc[:,"rating_bad"]*3
data.loc[:,["rating_good","rating_normal","rating_bad"]]

     rating_good  rating_normal  rating_bad
0          17510            729         181
1           2656            198          78
2        1071829          18073        4647
3          18959            215          44
4          39252           2383         680
..           ...            ...         ...
741           32              0           0
742            9              0           1
743          463             16          16
744       103289           3982        1960
745       708666          30799       13401

[746 rows x 3 columns]

In [30]:
#th√™m c·ªôt location v·ªõi c·∫•u tr√∫c: shop_location, Philippine
data.loc[:,"location"] = data.loc[:,"shop_location"] + ", Philippine"
data
#n·∫øu d·ªØ li·ªáu NaN k·∫øt qu·∫£ v·∫´n l√† NaN

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,rating,location
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0,35206,NaN
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,5276,"San Nicolas,Metro Manila, Philippine"
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,2147790,"Pasay City,Metro Manila, Philippine"
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0,38001,"Binondo,Metro Manila, Philippine"
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,78847,"Caloocan City,Metro Manila, Philippine"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0,64,"Legazpi City,Albay, Philippine"
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0,15,NaN
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0,894,NaN
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,204680,"Binondo,Metro Manila, Philippine"
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,1407928,"Pasay City,Metro Manila, Philippine"

In [33]:
#th√™m c·ªôt "month day, year" v·ªõi "jont_month" + "joint_day" + "joint_year"
#g·ª£i √Ω ƒë·ªïi th√°nh str v√¨ c√≥ th·ªÉ c√≥ d·ªØ li·ªáu l√† s·ªë
data.loc[:,'join'] = data.loc[:,'join_month'] + " " + data.loc[:,'join_day'].astype(str) + " " +data.loc[:,'join_year'].astype(str)
data.loc[:,'join']

0          April 27 2020
1      September 25 2020
2      September 27 2016
3          April 30 2017
4        October 18 2016
             ...
741          May 22 2021
742         March 3 2021
743     December 20 2020
744        August 2 2017
745         June 17 2017
Name: join, Length: 746, dtype: object

In [35]:
#C√ÅC PH√âP TO√ÅN LOGIC
#th√™m c·ªôt test1 v·ªõi c√°c shop m·ªü sau nƒÉm 2020
data.loc[:,"test1"] = data.loc[:,"joint_year"] > 2020
data.loc[:,["name",'join_year',"test1"]]

KeyError: 'joint_year'