In [4]:
import pandas as pd
import numpy as np
a = pd.Series([2, 4, np.NaN, 8])
a

0    2.0
1    4.0
2    NaN
3    8.0
dtype: float64

In [6]:
b =pd.Series([2, 4, np.NaN, 8], dtype = pd.Int64Dtype())
b

0       2
1       4
2    <NA>
3       8
dtype: Int64

In [8]:
c = pd.Series([2, 4, np.NaN, 8], dtype = pd.DatetimeTZDtype(tz ="Europe/London" ))
c

0   1970-01-01 01:00:00.000000002+01:00
1   1970-01-01 01:00:00.000000004+01:00
2                                   NaT
3   1970-01-01 01:00:00.000000008+01:00
dtype: datetime64[ns, Europe/London]

In [9]:
#kiểm tra dữ liệu có bị khuyết thiếu hay ko
a.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [10]:
#kiểm tra ko bị khuyết thiếu
a.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [ ]:
#Xóa dữ liệu khuyết thiếu
#khi mà dòng dữ liệu khuyết thiếu ít, và dữ liệu thiếu là cột ko quan trọng
#xóa dòng chứa ít nhất 1 giá trị bị khuyết
#dropna() ==> có inplace : true/false, mặc định axis = 0
#xóa cột 
#dropna(axis = 1) hoặc dropna(axis = "columns")
#xóa dòng chứa toàn giá trị khuyết
#dropna(how = "all")
#chỉ giữ lại những dòng có tối đa n giá trị khuyết
#dropna(thresh = n)
#xóa những dòng có dữ liệu khuyết trên cột
#df.dropna(subset = [danh sách cột]) #cột quan trọng

In [ ]:
#Thay Thế giá trị khuyết thiếu
#thay bằng 1 giá trị vô hướng
#fillna(value)
#thay thế bằng các giá trị trước
#fillna(method = "ffill")
#thay thế bằng giá trị sau
#fillna(method = "bfill")
#thay thế bằng các giá trị xác định mỗi cột
#fillna(value = {"lương":0,"city":"Hanoi","C":2,"D":3})

In [ ]:
#Dữ liệu ngoại lai
#xác định dữ liệu ngoại lai

In [ ]:
#CHUẨN HÓA DỮ LIỆU

In [6]:
from sklearn.preprocessing import StandardScaler as ss
import pandas as pd
import numpy as np

In [1]:
import pandas as pd
#RỜI RẠC HÓA DỮ LIỆU
ages = [20,22,25,27,21,37,31,61,45,41,32]
#chia theo nhóm định sẵn
#định nghĩa khoảng giá trị các nhóm
bins = [18,25,35,60,100]
cats = pd.cut(ages, bins) #rời rạc hóa các khoảng trong bins
cats
#( lấy giá trị nhỏ hơn, [ tương đương với =
#dữ liệu nằm ngoài khoảng sẽ hiện NaN

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 11
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [2]:
#lấy ta index của nhóm tương ứng với phần tử, nếu ko thuộc nhóm sẽ là  -1
cats.codes

array([0, 0, 0, 1, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [4]:
#liệt kê số lượng của từng nhóm
pd.value_counts(cats)

(18, 25]     4
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [5]:

#lấy ta các nhóm
cats.categories
#right = true ==> chặn phải, False ==> chặn trái
#pd.cut(ages, bins, right = True)

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [8]:
#dán nhãn cho các nhóm,
group_names = ["young","youngA","middle","senior"]
cats =pd.cut(ages, bins, labels = group_names)
cats

['young', 'young', 'young', 'youngA', 'young', ..., 'youngA', 'senior', 'middle', 'middle', 'youngA']
Length: 11
Categories (4, object): ['young' < 'youngA' < 'middle' < 'senior']

In [10]:
#chia thành 4 nhóm có giá trị bằng nhau vd =4
cats =pd.cut(ages, 4)
cats

[(19.959, 30.25], (19.959, 30.25], (19.959, 30.25], (19.959, 30.25], (19.959, 30.25], ..., (30.25, 40.5], (50.75, 61.0], (40.5, 50.75], (40.5, 50.75], (30.25, 40.5]]
Length: 11
Categories (4, interval[float64, right]): [(19.959, 30.25] < (30.25, 40.5] < (40.5, 50.75] < (50.75, 61.0]]

In [12]:
#qcut
#chia đều dựa trên số lượng
cats = pd.qcut(ages,4)
pd.value_counts(cats)

(19.999, 23.5]    3
(23.5, 31.0]      3
(39.0, 61.0]      3
(31.0, 39.0]      2
dtype: int64